* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(221, 245, 235) ;
}

body {
    margin: 0;
    padding: 0;
}

/* Header styling */

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(253, 243, 211);
}


h2 {
    margin: 0;
    padding: 0;
    background-color: rgb(253, 243, 211);
}
    
.buttons{
    background-color: rgb(253, 243, 211);

}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 243, 211);  
}


nav a {
    text-decoration: none;
    margin: 30px;

}


/* Body styling */


main {
    display: flex;
    flex-direction: column;
    margin: 15px;

}

#headshot {
    width: 200px;
    height: 250px;
}

.aboutme {
    display: flex;
    margin-right: 10px;

}

.aboutcontext{
    display: flex;
    justify-content: center; 
    font-size: large;
}


#plantpiclarge {
    display: flex;
    width: 800px;
    height: 300px;


}

#plantpic {
    width: 500px;
    height: 300px;
}

.work {
    flex: 0 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;


} 


section {
    display: flex;
    justify-content: space-between;

}

section h1 {
    font-size: 25px;
    flex: 0.5;
}

section div {
    flex: 2.5;
    border-left: 2px solid black;
    margin-bottom: 10px;
}

/* Footer Styling */

footer {
    font-size: x-large;
}


/* Media Query Styling*/

@media screen and (max-width: 992px) {
    .plantpic {
     width: fit-content;
     height: fit-content;
    }
  }
  

  @media screen and (max-width: 768px) {
    .aboutme {
      background-color:rgb(249, 169, 116)
    }
  }
  

  