* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

/* Header styling */

header {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

h2 {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    
}



nav a {
    text-decoration: none;
    margin: 7px;
}


/* Body styling */

main {
    display: flex;
    flex-direction: column;
    margin: 15px;

}


section {
    display: flex;
    justify-content: space-between;


}

section h1 {
    font-size: 25px;
    flex: 0.5;
}

section div {
    flex: 2.5;
    border-left: 2px solid black;
    margin-bottom: 10px;



}

footer {
  

}